/* ==================================================
   NORAH Studio
   Local Font Definitions
================================================== */


/* Noto Sans JP */
@font-face {
  font-family: "Noto Sans JP";

  src:
    url("./bundled/NotoSansJP/NotoSansJP-Regular.ttf")
    format("truetype");

  font-style: normal;
  font-weight: 400;
  font-display: block;
}


/* Shippori Mincho */
@font-face {
  font-family: "Shippori Mincho";

  src:
    url("./bundled/ShipporiMincho/ShipporiMincho-Regular.ttf")
    format("truetype");

  font-style: normal;
  font-weight: 400;
  font-display: block;
}


/* Klee One */
@font-face {
  font-family: "Klee One";

  src:
    url("./bundled/KleeOne/KleeOne-Regular.ttf")
    format("truetype");

  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Audiowide';
  src: url('./bundled/Audiowide/Audiowide-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Dela Gothic One';
  src: url('./bundled/Dela Gothic One/DelaGothicOne-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('./bundled/Zen Maru Gothic/ZenMaruGothic-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./bundled/Bebas Neue/BebasNeue-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Creepster';
  src: url('./bundled/Creepster/Creepster-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'DotGothic16';
  src: url('./bundled/DotGothic16/DotGothic16-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Hachi Maru Pop';
  src: url('./bundled/Hachi Maru Pop/HachiMaruPop-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Reggae One';
  src: url('./bundled/Reggae One/ReggaeOne-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'RocknRoll One';
  src: url('./bundled/RocknRoll One/RocknRollOne-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kaisei Decol';
  src: url('./bundled/Kaisei Decol/KaiseiDecol-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('./bundled/M PLUS Rounded 1c/MPlusRounded1c-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mochiy Pop One';
  src: url('./bundled/Mochiy Pop One/MochiyPopOne-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif JP';
  src: url('./bundled/Noto Serif JP/NotoSerifJP-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yomogi';
  src: url('./bundled/Yomogi/Yomogi-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yuji Boku';
  src: url('./bundled/Yuji Boku/YujiBoku-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yuji Mai';
  src: url('./bundled/Yuji Mai/YujiMai-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zen Kaku Gothic New';
  src: url('./bundled/Zen Kaku Gothic New/ZenKakuGothicNew-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zen Old Mincho';
  src: url('./bundled/Zen Old Mincho/ZenOldMincho-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./bundled/Orbitron/Orbitron-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('./bundled/Pixelify Sans/PixelifySans-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./bundled/Playfair Display/PlayfairDisplay-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}